* {
    font-family: Inter, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: 300;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('assets/forest.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 20px;
    border-radius: 50px;
    backdrop-filter: blur(2px);
    background-color: rgba(16, 16, 16, 0.4);
}

button svg {
    padding-top: 1px;
}

input {
    border-radius: 50px;
    border: 1px solid white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

input::placeholder {
    color: rgb(196, 196, 196)
}

#report {
    width: 450px;
    border: 1px solid white;
    border-radius: 50px;
    backdrop-filter: blur(2px);
    background-color: rgba(27, 26, 26, 0.4);
    padding: 10px 28px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hl {
    display: flex;
    gap: 6px;
    margin-top: -5px;
}

.location {
    font-size: 30px;
}

.degree {
    font-size: 50px;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.condition, .hl p {
    font-size: 20px;
}

.hidden {
    display: none;
}

.comment {
    margin-top: 20px;
    color: rgb(221, 221, 221)
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    backdrop-filter: blur(2px);
    background-color: rgba(16, 16, 16, 0.4);
    width: 100%;
    padding: 8px;
}

footer p {
    font-size: 13px;
}
